<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>ConfigService</servlet-name>
    <servlet-class>ch.bergturbenthal.hs485.frontend.gwtfrontend.server.ConfigServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileAccess</servlet-name>
    <servlet-class>ch.bergturbenthal.hs485.frontend.gwtfrontend.server.FileAccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigService</servlet-name>
    <url-pattern>/Config/ConfigService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileAccess</servlet-name>
    <url-pattern>/Config/file</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Config.html</welcome-file>
  </welcome-file-list>

</web-app>
